[Install]
WantedBy=timers.target

[Timer]
OnBootSec=6m
OnUnitActiveSec=2h
Unit=check-flatpak-updates.service

[Unit]
Description=Check Flatpak Updates Timer
