[Timer]
OnBootSec=5m
OnUnitActiveSec=12h
Unit=update-gandi-domain.service

[Unit]
Description=Update Gandi Domain Timer

[Install]
WantedBy=timers.target
